#portfolio-container {
    display: grid;
    grid-template-columns: 25fr 25fr;
    grid-gap: 3rem;
    justify-content: center;
    padding: 3rem 2rem;
    height: auto;
}

.portfolio-item__container {
    position: relative;
    height: auto;
    text-align: center;
}

.portfolio-item__link {
    height: 30vh;
}

.overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 80%;
    background-color: rgb(66, 66, 66);
    display: block;
    opacity: 0.6;
    display: none;
}

.portfolio-item__title {
    position: absolute;
    /* top: 1rem;
    left: 7rem; */
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    font-size: 3rem;
    color: white;
    display: none;
}

.portfolio-item__img {
    height: 35vh;
    width: 80%;
}

.portfolio-item__link:hover {
    cursor: pointer;
}

.portfolio-item__link:hover > .overlay {
    display: block;
}

.portfolio-item__link:hover > .portfolio-item__title  {
    display: block;
}