#about-container {
    width: 100%;
    padding: 3rem 5rem 8rem 5rem;
    display: grid;
    grid-template-columns: 30fr 70fr;
    grid-gap: 3rem;
    
}

#about-container__img {
    height: auto;
    width: 100%;
    /* float: left; */
    /* border-radius: 10px; */
}

.about-container__text {
    font-size: 1.8rem;
    line-height: 4rem;
}


@media (max-width: 1600px) {
    .about-container__text {
        font-size: 1.8rem;
        line-height: 3rem;
    }
}

@media (max-width: 1500px) {
    #about-container {
        grid-template-columns: 100fr;
        justify-items: center;
    }

    #about-container__img {
        height: auto;
        width: 25%;
    }
}


@media only screen and (max-width: 800px) {
    .about-container__text {
        font-size: 1.4rem;
        line-height: 3rem;
    }
}